docker/nodered/.flows.json.backup
[
    {
        "id": "5cd1432007dc162c",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eb4561641fc3ad19",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a92d185a2550c9be",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "ufhb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "ba23a93c246b9ebb",
        "type": "mqtt in",
        "z": "5cd1432007dc162c",
        "name": "Écoute HiveMQ - Groupe D",
        "topic": "ufhb/grp_D/#",
        "qos": "2",
        "datatype": "utf8",
        "broker": "eb4561641fc3ad19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 400,
        "wires": [
            [
                "0831eb6bda2483bb"
            ]
        ]
    },
    {
        "id": "d363397365a37007",
        "type": "json",
        "z": "5cd1432007dc162c",
        "name": "Analyse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "249fd43aa4641ee0"
            ]
        ]
    },
    {
        "id": "249fd43aa4641ee0",
        "type": "switch",
        "z": "5cd1432007dc162c",
        "name": "Filtrage ETL (switch)",
        "property": "payload.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 240,
        "wires": [
            [
                "a95c484027a38b62"
            ],
            [
                "f410ba3fecebcec1"
            ]
        ]
    },
    {
        "id": "f410ba3fecebcec1",
        "type": "influxdb out",
        "z": "5cd1432007dc162c",
        "influxdb": "a92d185a2550c9be",
        "name": "Base de données",
        "measurement": "parking_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufhb",
        "bucket": "smartcampus",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "a95c484027a38b62",
        "type": "mqtt out",
        "z": "5cd1432007dc162c",
        "name": "Alerte Panne",
        "topic": "ufhb/grp_D/erreurs",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eb4561641fc3ad19",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "0831eb6bda2483bb",
        "type": "switch",
        "z": "5cd1432007dc162c",
        "name": "Filtrer Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ufhb/grp_D/capteurs/parking",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "d363397365a37007"
            ]
        ]
    },
    {
        "id": "65147b276455733a",
        "type": "mqtt in",
        "z": "5cd1432007dc162c",
        "name": "Ecoute HiveMQ Alerte",
        "topic": "ufhb/grp_D/ids/alertes",
        "qos": "2",
        "datatype": "utf8",
        "broker": "eb4561641fc3ad19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "440f3386f9e947a0"
            ]
        ]
    },
    {
        "id": "440f3386f9e947a0",
        "type": "json",
        "z": "5cd1432007dc162c",
        "name": "Analyse JSON IDS",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "c32f4315a087ad48"
            ]
        ]
    },
    {
        "id": "c32f4315a087ad48",
        "type": "influxdb out",
        "z": "5cd1432007dc162c",
        "influxdb": "a92d185a2550c9be",
        "name": "Base Alertes IDS",
        "measurement": "alertes_ids",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufhb",
        "bucket": "smartcampus",
        "x": 490,
        "y": 40,
        "wires": []
    }
]