docker/nodered/.flows.json.backup
[
    {
        "id": "5cd1432007dc162c",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a92d185a2550c9be",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "ufhb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "359d638241d809bf",
        "type": "tls-config",
        "name": "",
        "certType": "files",
        "cert": "",
        "key": "",
        "p12": "",
        "p12name": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": "",
        "certEnv": "",
        "keyEnv": "",
        "caEnv": ""
    },
    {
        "id": "eb4561641fc3ad19",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "8883",
        "tls": "359d638241d809bf",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "main-mqtt",
        "type": "mqtt in",
        "z": "5cd1432007dc162c",
        "name": "Écoute HiveMQ - Groupe D",
        "topic": "ufhb/grp_D/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "eb4561641fc3ad19",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "topic-switch"
            ]
        ]
    },
    {
        "id": "topic-switch",
        "type": "switch",
        "z": "5cd1432007dc162c",
        "name": "Filtre des Topics",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "ufhb/grp_D/capteurs/parking",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ufhb/grp_D/alertes",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "ufhb/grp_D/ids/alertes",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "parse-capteurs"
            ],
            [
                "parse-alertes"
            ],
            [
                "parse-ids"
            ]
        ]
    },
    {
        "id": "parse-capteurs",
        "type": "json",
        "z": "5cd1432007dc162c",
        "name": "Analyse JSON Capteurs",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "influx-capteurs"
            ]
        ]
    },
    {
        "id": "parse-alertes",
        "type": "json",
        "z": "5cd1432007dc162c",
        "name": "Analyse JSON Alertes",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "format-alertes"
            ]
        ]
    },
    {
        "id": "parse-ids",
        "type": "json",
        "z": "5cd1432007dc162c",
        "name": "Analyse JSON IDS",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "influx-ids"
            ]
        ]
    },
    {
        "id": "format-alertes",
        "type": "function",
        "z": "5cd1432007dc162c",
        "name": "Formatage Alertes Météo",
        "func": "// Formatage des données parking + météo\nlet p = msg.payload;\n\nmsg.payload = {\n    places_libres: Number(p.places_libres) || 0,\n    temperature: p.temperature !== undefined ? Number(p.temperature) : null,\n    humidite: p.humidite !== undefined ? Number(p.humidite) : null,\n    statut_parking: p.statut_parking || \"DISPONIBLE\"\n};\n\nmsg.topic = \"parking_data\";   // Nom de la measurement dans InfluxDB\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 260,
        "wires": [
            [
                "influx-alertes"
            ]
        ]
    },
    {
        "id": "influx-capteurs",
        "type": "influxdb out",
        "z": "5cd1432007dc162c",
        "influxdb": "a92d185a2550c9be",
        "name": "InfluxDB - Parking",
        "measurement": "parking",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufhb",
        "bucket": "smartcampus",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "influx-alertes",
        "type": "influxdb out",
        "z": "5cd1432007dc162c",
        "influxdb": "a92d185a2550c9be",
        "name": "InfluxDB - Alertes",
        "measurement": "alertes",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufhb",
        "bucket": "smartcampus",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "influx-ids",
        "type": "influxdb out",
        "z": "5cd1432007dc162c",
        "influxdb": "a92d185a2550c9be",
        "name": "InfluxDB - IDS",
        "measurement": "alertes_ids",
        "precision": "ms",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ufhb",
        "bucket": "smartcampus",
        "x": 660,
        "y": 300,
        "wires": []
    }
]